//= require_self
//= require foundation_and_overrides
//= require foundation-datepicker
//= require_tree .

@import 'foundation';
@import 'foundation-datepicker';

.alert-box {
  &::after {
    content: '.';
  }

  &::first-letter {
    text-transform: capitalize;
  }
}

.quick-signup {
  abbr {
    display: none;
  }

  h2 {
    display: none;
  }

  label {
    @include flex-grid-column(1);
  }

  .button--submit {
    @include button-expand(true);
    letter-spacing: 1.15px;
    text-transform: uppercase;
  }
}

.new_loan {
  @include flex-grid-column(12);
}

.input {
  @include flex-grid-row;
}

.loan_type {
  label {
    @include element-invisible;
  }
  select {
    @include grid-column-position(center);
    @include grid-column(4);
  }
}

.loan_amount,
.loan_creator_email_address,
.loan_obligor_email_address {
  label {
    @include grid-column(1);
  }

  input {
    @include grid-column(11);
  }
}
