//= require_self
//= require foundation_and_overrides
//= require_tree .

@import 'foundation';

@include foundation-flex-grid;

.alert-box {
  &:after {
    content: '.';
  }

  &::first-letter {
    text-transform: capitalize;
  }
}

.quick-signup {
  @include flex-grid-row;
  @include flex-grid-row-align(center, middle);

  h2 {
    display: none;
  }

  .button--submit {
    @include button-expand(true);
    letter-spacing: 1.15px;
    text-transform: uppercase;
  }
}

.new_loan {
  @include flex-grid-column(12);
}
